<header class="header">
	<div class="container">
		<nav class="menu">
			<div class="menu__part">
				<p class="menu__text">Цены за месяц при покупке на</p>
				<div class="select">
					<ul class="default__option">
						<li>
							<div class="option 1-year">
								<div class="period">на год</div>
								<div class="discount">-20%</div>
							</div>
						</li>
					</ul>
					<ul class="select__ul">
						<li>
							<div class="option">
								<div class="period">на 1 месяц</div>
							</div>
						</li>
						<li>
							<div class="option">
								<div class="period">на 3 месяц</div>
							</div>
						</li>
						<li>
							<div class="option">
								<div class="period">на год</div>
								<div class="discount">-20%</div>
							</div>
						</li>
						<li>
							<div class="option">
								<div class="period">на 3 год</div>
								<div class="discount">-30%</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="menu__part">
				<p class="menu__text">Продлить тарифы, купленные до 1 августа 2021</p>
				<button class="btn btn-header" type="button">Архив тарифов</button>
			</div>
		</nav>
	</div>
</header>