// Colors
$black: #000;
$white: #fff;
$green: #7c9b00;
$gray: #9aa4a8;
$yellow: #ffd91a;
$blue: #0350af;
$card-header: #caf0fc;
$card-content: #e7f9ff;
$card-free-header: #e3f3a4;
$card-free-content: #f5fdd6;
$btn: #21bdee;
$btn-green: #a3cd00;

$desktop-large: 1720px;
// $desktop-small: 1440px;
$tablet: 1024px;
// $tablet-portrait: 830px;
// $tablet-portrait-sm: 700px;
$mobile: 480px;
// $mobile: 429px;
