.cards {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	//padding: 0 -1.5rem;

	@include breakpoint($desktop-large) {
		justify-content: center;
	}

	.card {
		margin-right: 0.5rem;
		margin-left: 0.5rem;
		margin-bottom: 2rem;
		align-self: stretch;
		width: 24%;
		min-width: 36rem;
		align-items: stretch;
		border-radius: 30px;
		overflow: hidden;

		@include breakpoint($tablet) {
			width: 50%;
			max-width: 36rem;
		}

		@include breakpoint($mobile) {
			min-width: 30rem;
		}

		&__inner {
			// display: flex;
			// flex-direction: column;
			// justify-content: center;
			// align-items: center;
			height: 100%;
			background-color: $card-content;

			&.free {
				background-color: $card-free-content;
			}
		}

		&__header {
			padding: 3rem 2.4rem;
			background-color: $card-header;
			text-align: center;

			&.free {
				background-color: $card-free-header;
			}
		}

		&__title {
			margin-bottom: 1rem;
			@extend %montserrat-bold;
			font-size: 2.9rem;

			@include breakpoint($mobile) {
				font-size: 2.2rem;
			}
		}

		&__text {
			margin-bottom: 3rem;
			@extend %openSans-thin;
			font-size: 1.5rem;
			color: $gray;
			line-height: 1.1;
		}

		&__info {
			padding: 2rem;
			text-align: center;
		}

		&__user {
			position: relative;
			@extend %montserrat-bold;
			font-size: 2.3rem;
			line-height: 1.1;

			span {
				display: block;
				font-size: 2.5rem;

				@include breakpoint($mobile) {
					font-size: 2.2rem;
				}
			}

			&.sale::before {
				content: "";
				background: url(../../../assets/images/fire.png) center/cover no-repeat;
				width: 3rem;
				height: 3rem;
				position: absolute;
				top: 50%;
				left: 19px;
				transform: translateY(-50%);
				z-index: 1;

				@include breakpoint($mobile) {
					left: 5px;
				}
			}

			@include breakpoint($mobile) {
				font-size: 2rem;
			}
		}

		&__link {
			display: inline-block;
			margin-bottom: 2rem;
			border-bottom: 1px dashed $gray;
			@extend %openSans-thin;
			font-size: 1.5rem;
			line-height: 0.8;
			color: $gray;
		}

		&__initial {
			margin-top: 2rem;
			@extend %openSans-thin;
			font-size: 2rem;
			color: $gray;
			text-decoration: line-through;
		}

		&__price {
			@extend %montserrat-bold;
			font-size: 3.2rem;
			color: $blue;

			&.free {
				color: $green;
				margin-bottom: 8rem;
			}
		}

		&__num {
			display: inline-block;
			margin-bottom: 5rem;
			border-bottom: 1px dashed $blue;
			@extend %openSans-thin;
			font-weight: 600;
			font-size: 2rem;
			line-height: 1;
			color: $blue;
		}

		&__value {
			margin-top: 3rem;
			margin-bottom: 2rem;
			@extend %montserrat-bold;
			font-size: 2.8rem;
		}
	}
}
